-
    var blog_list = [
        {
            img: 'slide-1.jpg',
            title: 'VANG THĂNG LONG CLASSIC',
            author: 'Giangle',
            date: '30/06/2015',
            comment: '3',
            content: 'Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang nổ Thăng Long tạo cảm giác hưng phấn, dịu êm, vui tươi, sản phẩm được đóng chai dung tích 750ml...'
        },
        {
            img: 'slide-3.jpg',
            title: 'VANG THĂNG LONG CLASSIC',
            author: 'Giangle',
            date: '30/06/2015',
            comment: '5',
            content: 'Vang nổ Thăng long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang thăng long tạo cảm giác hưng phấn, êm dịu, vui tươi.'
        },
        {
            img: 'gallery-1.jpg',
            title: 'VANG THĂNG LONG CLASSIC',
            author: 'Giangle',
            date: '30/06/2015',
            comment: '5',
            content: 'Vang nổ Thăng long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang thăng long tạo cảm giác hưng phấn, êm dịu, vui tươi.'
        },
        {
            img: 'slide-1.jpg',
            title: 'VANG THĂNG LONG CLASSIC',
            author: 'Giangle',
            date: '30/06/2015',
            comment: '3',
            content: 'Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang nổ Thăng Long tạo cảm giác hưng phấn, dịu êm, vui tươi, sản phẩm được đóng chai dung tích 750ml...'
        },
        {
            img: 'slide-3.jpg',
            title: 'VANG THĂNG LONG CLASSIC',
            author: 'Giangle',
            date: '30/06/2015',
            comment: '5',
            content: 'Vang nổ Thăng long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang thăng long tạo cảm giác hưng phấn, êm dịu, vui tươi.'
        },
        {
            img: 'gallery-1.jpg',
            title: 'VANG THĂNG LONG CLASSIC',
            author: 'Giangle',
            date: '30/06/2015',
            comment: '5',
            content: 'Vang nổ Thăng long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang thăng long tạo cảm giác hưng phấn, êm dịu, vui tươi.'
        },
        {
            img: 'slide-3.jpg',
            title: 'VANG THĂNG LONG CLASSIC',
            author: 'Giangle',
            date: '30/06/2015',
            comment: '5',
            content: 'Vang nổ Thăng long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang thăng long tạo cảm giác hưng phấn, êm dịu, vui tươi.'
        },
        {
            img: 'gallery-1.jpg',
            title: 'VANG THĂNG LONG CLASSIC',
            author: 'Giangle',
            date: '30/06/2015',
            comment: '5',
            content: 'Vang nổ Thăng long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang thăng long tạo cảm giác hưng phấn, êm dịu, vui tươi.'
        },
        {
            img: 'gallery-3.jpg',
            title: 'VANG THĂNG LONG CLASSIC',
            author: 'Giangle',
            date: '30/06/2015',
            comment: '5',
            content: 'Vang nổ Thăng long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang thăng long tạo cảm giác hưng phấn, êm dịu, vui tươi.'
        }
    ];