-
    var cart_breadcrumb = [
        {
            page: 'Trang Chủ',
            link: '/' 
        },
        {
            page: 'Danh Sách Sản Phẩm',
            link: '/product.html'
        },
        {
            page: 'Giỏ hàng',
            link: '/cart.html'
        },
    ];