-
    var cart_breadcrumb = [
        {
            page: 'Trang Chủ',
            link: '/' 
        },
        {
            page: 'Danh Sách Sản Phẩm',
            link: '/product.html'
        },
        {
            page: 'Giỏ hàng',
            link: '/cart.html'
        },
    ];

-
    var about_breadcrumb = [
        {
            page: 'Trang Chủ',
            link: '/' 
        },
        {
            page: 'Giới thiệu',
            link: '/about.html'
        }
    ];

-
    var blog_breadcrumb = [
        {
            page: 'Trang Chủ',
            link: '/' 
        },
        {
            page: 'Blog',
            link: '/blog.html'
        }
    ];

-
    var login_breadcrumb = [
        {
            page: 'Trang Chủ',
            link: '/' 
        },
        {
            page: 'Login',
            link: '/login.html'
        }
    ];

-
    var register_breadcrumb = [
        {
            page: 'Trang Chủ',
            link: '/' 
        },
        {
            page: 'Register',
            link: '/register.html'
        }
    ];