-
    var product_detail_breadcrumb = [
        {
            page: 'Trang Chủ',
            link: '/'
        },
        {
            page: 'Sản Phẩm',
            link: '/products.html'
        },
        {
            page: 'Rượu Vang Đỏ',
            link: '/product-detail.html'
        }
    ]